@import "lib/scss/mixins";

.page.svg {
  .rw {
    @include margin-child-right(15px);
  }
}

.flex-table {
  display: flex;
  & > * {
    margin-right: 5px;
    border: solid 1px #2c3e50;
    padding: 5px;
    text-align: left;
  }
}